<div class="work-order-column"
    style="grid-row: 2 / span 10;
    grid-column-start: <%= technician.id + 1 %>;
    background-color: yellow">
  <% minutes = 0%>
  <% technician.work_orders.each do |work_order| %>
    <%= render work_order, start_min: (work_order.time.split[1].split(':')[0].to_i * 60) + (work_order.time.split[1].split(':')[1]).to_i - 360
 %>
    <% minutes = minutes + work_order.duration %>
  <% end %>
</div>
